*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background-color: #202632;
  height: 100vh;
}
.container{
  background-color: #313A49;
  width: 410px;
  height: 250px;
  margin: auto auto;
  transform: translateX(50%);
  transform: translateY(50%);
  background-color: #313A49;
  border-radius: 20px;
}
.adviceId{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 20px;
  text-align: center;
  padding: 5px 20px;
  color: #51FAA6;
}
.adviceName{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
  border-radius: 20px;
  text-align: center;
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
}
/*  fill: hsl(150, 100%, 66%); */
/* filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%) */
.botao{
  width: 50px; height: 50px;
  background-color: #52ffa8;
  border: none;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  right: 0px; left: 0px;
  margin: 0 auto;
}
.botao:hover{
  cursor: pointer;
  background-color: rgba(82, 255, 168, .8);
  filter: blur(1px);
}
.divider-desk{
  width: 300px;
  display: flex;
  margin: 0 auto;
}
.divider-mobile{
  display: none;
}
.dice{
   width: 20px; height: 20px;
  background-color: #52ffa8;
}

@media (max-width: 375px) {
  .divider-desk{
    display: none;
  }
  .divider-mobile{
    display: flex;
    width: 200px;
    display: flex;
    margin: 0px auto 50px auto;
  }
  .container{
    width: 90%;
    height: 200px;
  }
}